.carousel-item img {
    width: 100%;
    height: 500px;
}

.order_button {
    margin-left: 50px;
}

.card img {
    width: 286px;
    height: 286px;
}

.main_products img {
    width: 270px;
    height: 270px;
}
